---
---

@import "{{ site.theme }}";

header ul { list-style: none; height: 40px; padding: 0; background: #f4f4f4; border-radius: 5px; border: 1px solid #e0e0e0; width: 270px; }

header li { width: 89px; float: left; border-right: 1px solid #e0e0e0; height: 40px; }

header li:first-child a { border-radius: 5px 0 0 5px; }

header li:last-child a { border-radius: 0 5px 5px 0; }

header ul a { line-height: 1; font-size: 11px; color: #676767; display: block; text-align: center; padding-top: 6px; height: 34px; }

header ul a:hover, header ul a:focus { color: #675C5C; font-weight: bold; }

header ul a:active { background-color: #f0f0f0; }

header ul li + li + li { border-right: none; width: 89px; }

header ul a strong { font-size: 14px; display: block; color: #222; }

@media print, screen and (max-width: 480px) { body { padding: 15px; }
  header ul { width: 99%; }
  header li, header ul li + li + li { width: 33%; } }